.slide-container {
    width: 1346px;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.slide-holder {
    width: 1346px;
    height: auto;
    float: left;
    position: absolute;
    overflow: hidden;
    -o-object-fit: contain;
    object-fit: contain;
    bottom: 0;
    z-index: 10;
}


/*Slider effect 'slice'*/

.slice {
    opacity: 1.0;
    display: block;
    height: 100%;
    float: left;
    position: relative;
    -webkit-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
    -o-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
    transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
    overflow: hidden;
}

.slice img {
    max-width: none;
    width: 100%;
    height: 100%;
    float: left;
    -o-object-fit: cover;
    object-fit: cover;
}


/*small window in block SLIDER*/

.main-image-box {
    width: 180px;
    height: 180px;
    position: absolute;
    right: 150px;
    z-index: 10;
    border-radius: 5px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}


/*image shaped small window*/

.main-image-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


/*text block for slider*/

.detail-box {
    width: 35%;
    height: auto;
    padding: 20px;
    position: absolute;
    right: 30px;
    z-index: 10;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    background: -webkit-gradient(linear, right top, left top, from(rgba(47, 180, 233, 0)), to(rgba(0, 0, 0, 1)));
    background: -o-linear-gradient(right, rgba(47, 180, 233, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to left, rgba(47, 180, 233, 0) 0%, rgba(0, 0, 0, 1) 100%);
    overflow: hidden;
}

.detail-title {
    width: 100%;
    float: left;
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
    color: #ffffff;
    font-family: 'Bangers', cursive;
    font-size: 36px;
    font-weight: 400;
    text-align: justify;
}

.detail-desc {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 5px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}


/*button for slider*/

.detail-button {
    width: 150px;
    height: 30px;
    float: left;
    margin-top: 10px;
    border-radius: 3px;
    border: none;
    background-color: white;
    cursor: pointer;
}