    body {
        font-family: 'Palanquin Dark', sans-serif;
        font-size: 24px;
        width: 100%;
        height: auto;
        margin: auto;
        color: white;
    }
    /*MAIN WINDOW*/
    /*back decoration*/
    
    .wrapper {
        background: url(../img/back_1.jpg);
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    .moon {
        background: url(../img/moon.png) no-repeat bottom right;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    /*Logo part*/
    
    .logo {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 75px;
        padding-top: 25px;
        z-index: 3;
    }
    
    .logo_plate {
        background: url(../img/logo_plate.png) no-repeat top left;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
    }
    
    .logo_text {
        padding-left: 40px;
    }
    
    .logo_text h2 {
        margin: auto;
        font-size: 50px;
        line-height: 45px;
        font-weight: 500;
    }
    
    .logo_text h2 span {
        text-transform: uppercase;
    }
    
    .logo_text p {
        margin: auto;
        color: #44b1dd;
    }
    
    .block_hero h2 {
        margin: 460px auto 20px auto;
        color: #f1a23e;
        font-size: 50px;
        padding-left: 30%;
        line-height: 50px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: underline;
    }
    
    .block_hero p span {
        color: #f1a23e;
        font-size: 28px;
        text-transform: uppercase;
    }
    
    .block_hero p {
        display: inline-block;
        padding-left: 30px;
        line-height: 38px;
        font-weight: 500;
        position: relative;
        margin: auto;
    }
    
    .yellow_box {
        display: inline-block;
        width: 110px;
        height: 100px;
        background-color: #f1a23e;
        margin-left: 30%;
        background-image: url(../img/text_icon.png);
    }
    
    .menu_bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 180px;
        height: 100%;
        background-color: #020107;
        z-index: 1;
    }
    /*thin menu bar*/
    /* .menu_bar {
    position: absolute;
    margin-left: 8.5%;
    top: 0;
    width: 20px;
    height: 100%;
    background-color: #020107;
    z-index: 1;
} */
    
    .video {
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 100%;
        left: 0;
        position: absolute;
    }
    /*Part_2_TEAM*/
    
    .team_bar {
        background: url(../img/board_team.png) no-repeat;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        position: absolute;
    }
    
    .team_bar h2 {
        width: 100%;
        position: absolute;
        font-size: 45px;
        font-weight: 600;
        text-transform: uppercase;
        z-index: 3;
        top: 0;
        text-align: center;
        margin: auto;
    }
    
    .team_1 {
        background: url(../img/girl_1.png) no-repeat bottom;
        top: 100%;
        width: 100%;
        height: 100%;
        z-index: 4;
        position: absolute;
    }
    
    .text_1 {
        padding-top: 250px;
        width: 380px;
        text-align: left;
        float: right;
        padding-right: 80px;
    }
    
    .team_1 h3 {
        font-family: 'Bangers', cursive;
        font-size: 60px;
        font-weight: 400;
        text-transform: uppercase;
        margin: auto;
    }
    
    .team_1 h4 {
        color: #f1a23e;
        font-size: 18px;
        text-transform: uppercase;
    }
    
    .team_1 p {
        font-size: 18px;
    }